<h1>File path: (bookmarks) new.html.erb</h1>
<h2>Update a new bookmark</h2>
<%= simple_form_for @bookmark do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, collection: @movies %>
  <%= f.association :list, collection: @lists %>
  <%= f.submit %>
<% end %>

<br>
<%= link_to 'Back', bookmarks_path %>
