<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Comment</th>
      <th>Movie</th>
      <th>List</th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.id %></td>
        <td><%= bookmark.comment %></td>
        <td><%= bookmark.movie.title %></td>
        <td><%= bookmark.list.name %></td>
        <td><%= link_to 'Show', bookmark, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_bookmark_path(bookmark), class: "btn btn-primary" %></td>
        <td><%= link_to 'Delete', bookmark_path(bookmark), method: :delete, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
