<h1>File path: (movies) index.html.erb</h1>
<h2>All movies</h2>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>rating</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= link_to 'Show', movie %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
